#gitignore
.idea
audio/
mean_data.npy
mean_target.npy
std_data.npy
std_target.npy
db.csv

pkg/rirnet.egg-info
pkg/rirnet/__pycache__/

delta_features/database/data/
delta_features/models/
delta_features/rirnet/__pycache__/

delta_features_GAN/database/data/
delta_features_GAN/models/
delta_features_GAN/rirnet/__pycache__/

peaks/database/data/
peaks/models/
peaks/rirnet/__pycache__/

peaks_GAN/database/data/
peaks_GAN/models/
peaks_GAN/rirnet/__pycache__/

peaks_GAN_refiner/database/data/
peaks_GAN_refiner/models/
peaks_GAN_refiner/rirnet/__pycache__/

peaks_GAN_abstract/database/data/
peaks_GAN_abstract/models/
peaks_GAN_abstract/rirnet/__pycache__/

compressor/database/data/
compressor/models/
compressor/rirnet/__pycache__/

