#gitignore
.idea
audio/
pkg/rirnet.egg-info

delta_features/database/data/
delta_features/models/
delta_features_GAN/database/data/
delta_features_GAN/models/
peaks/database/data/
peaks/models/
compressor/database/data/
compressor/models/

